
body {
    background-color: #DEF2F1; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.row {
    display: flex;
    gap: 5px;
}


h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 22px;
    color: #17252A;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #17252A;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #DEF2F1;
    color: black;
}
